// OSF_Popular items and featured products
.osf-cards{
    max-width: 1280px;
    min-height: 1061px;
    background-color: #262a32;
}

.osf-card-content{
    width:92%;
    margin: 0 auto;
    margin-bottom:20px;
}

.popular-head.col-xl-5 {
    border-bottom: 1px solid #fff;
    padding-top: 106px;
    height: 0px;
    margin-bottom: 0px;
  }

  .popular-head.col-sm-2{
      white-space: nowrap;
  }
  
  

.popular-head{
    width: 145px;
    height: 23px;
    color: #ffffff;
    font-family: "Lato-ExtraBold";
    font-size: 24px;
    font-weight: 400;
    margin: 0 auto;
    margin-bottom:75px;
    padding-top:89px;
}

.card-stats{
    width: 271px !important;
    height: 366px !important;
    background-color: #ffffff;
    margin-right:29px;
    margin-bottom:29px;
    
}

.middle-one{
    margin-left: 20px;
}

.left-one{
    margin-right: 134px;
}

.special-line-first{
    max-width: 228px;
    height:3px;
    position: absolute;
    top: 50%;
    right:55%;
}

.special-line-second{
    height: 3px;
    max-width: 228px;
    position: absolute;
    top: 50%;
    left: 65%;
}

.right-one{
    margin-left: 174px;
}

.carousel-control-next {
     text-align:left;
     z-index: 0;
}

.carousel-control-prev {
    text-align:right;
    z-index: 0;
}

.load-more{
    width: 270px;
    height: 45px;
    border: 2px solid #e8e2d6;
    background-color: #1e1d22;
    border-radius: 30px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top:22px;
}

.load-more:hover{
    background-color: #84bc22;
}

.load-text{
    margin-left:25px;
}

.card-text{
    text-align:center;
    color: #2c3e50;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}

.card-text-feat{
    text-align:center;
    height: 31px;
    color: #45413e;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}

.feat-green{
    max-width: 63px;
    height: 11px;
    color: #84bc22;
    font-family: "Lato - Extra Bold";
    font-size: 14px;
    font-weight: 400;
    margin: 0 auto;
}

.price-tag{
    text-align:center;
    color: #011847;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
}

.gradient-card{
    width: 271px;
    height: 366px;
    background-color: #ffffff;
    background-image: linear-gradient(to top, #675b99 0%, #dc5987 100%);
    opacity: 0.8;
}



.featured-products{
    width: 1280px;
    min-height: 555px;
    background-color: #262a32;
}

.featured-head{
    padding-top:43px;
    font-family: "Lato - Extra Bold";
    font-size: 36px;
    font-weight: 700;
    color: #ffffff;
    text-align:center;
}

.featured-text{
    color: #ffffff;
    font-family: "Lato - Regular";
    font-weight: 400;
    line-height: 36px;
    font-size: 18px;
    text-align:center;
    padding-bottom:22px;
}

.card-stats-feature{
    width: 270px;
    height: 296px;
    background-color: #ffffff;
}

.card-img-top2 {
    width: 100%;
    height: 190px;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.price-tag>div.row {
    border: 1px solid #000;
    border-radius: 20px;
    height: 37px;
}

.price-tag>div.row>div:first-child {
    border-right: 1px solid #000;
}

.price-tag>div.row>div {
    text-align: center;
}


.price-tag>div.row>div {
    padding-top: 8px;
}

.buy-now-popular>a {
    width: 68px;
    height: 11px;
    color: #000000;
    font-family: "Lato";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;   
}


.price-tag>div.row>div:last-child:hover {
    background-color: #84bc22;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.price-tag>div.row>div:last-child:hover span {
    color: #fff;
}

.full-gradient {
    position: absolute;
    width: 100%;
    height: inherit;
    background-image: linear-gradient(to top, #675b99 0%, #dc5987 100%);
    opacity: 0.8;
}

.full-gradient-image {
    height: inherit;
}

.full-gradient>div {
    width: 70%;
    color: #fff;
    margin-left: 10%;
}

.full-gradient>div:first-child {
    margin-top: 80%;
}

.buy-card-hover-gradient {
    position: absolute;
    width: 100%;
    height: inherit;
    background-image: linear-gradient(to top, #1cc167 0%, #2ed3a2 100%);
    opacity: 0.9;
    display: none;
}

.grad-hour{
    padding-top:20px;
}

.grad-text{
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    padding-left: 13px;
}

.buy-from-card, .like-from-card {
    text-align: center;
    border-radius: 50%;
    width: 91px;
    height: 91px;
    margin: 0 auto;
    background-color: #fff;
    margin-top: 135px;
    cursor: pointer;
}

.buy-from-card>img {
    width: 29px;
    height: 29px;
    margin-top: 31px;
}

.like-from-card>img {
    width: 33px;
    height: 28px;
    margin-top: 34px;
}


//  osf cards and featured products over