//Services

.information-container{
    max-height:198px;
    background-color: #45413e;
    position:relative;
}

.services-folder{
    width: 231px;
    height: 49px;
    color: #868380;
    font-family: "Myriad Pro";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

}

.spec-ml{
    margin-left:50px;
}

.services-header{
    width: 57px;
    height: 15px;
    color: #ffffff;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.text-col{
    color:white;
}

//services over