*{
    padding:0;
    margin:0;
}

body {
    font-family: "Lato" !important;
}

.set{
    max-width: 1280px;
    margin: 0px auto;
}

.w-10 {
    width: 10%;
}

.p-75{
    padding-left: 75px;
}

.fixed-left {
    position: fixed;
    float: left;
}

.right{
    float: right !important;
}

.left{
    margin-left:-29px;
}

.top-10px{
    top:10px;
}

.pos-abs{
    position: absolute;
}

.left-price{
    margin-left:-85px;
}

.disable-on-big{
    display: none;
}

.left-small{
    margin-left:-69px;
}

.media-car-disabled{
    display:none;
}


.mr-10px{
    margin-right:10px !important;
}

.mt-10px{
    margin-top:10px !important;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.pr-6 {
    padding-right: 3.5rem !important;
}

.hr-marg{
    margin-top:80px;
}

.modal-content{
    position:absolute;
    height: 467px;
    background-color: #ffffff;
    margin-top:42%;
}

.modal-title{
    color: #45413e;
    font-family: "Lato - Extra Bold";
    font-size: 30px;
    font-weight: 400; 
    margin-top: 50px;
    margin-bottom: 30px;
}

.modal-body{
    flex:0;
}


.form-control:focus {
    display: block !important;
    width: 100% !important;
    height: calc(1.5em + 0.75rem + 2px) !important;
    padding: 0.375rem 0.75rem !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #495057 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #ced4da !important;
    border-radius: 0.25rem !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
    box-shadow: none !important;
}

.green-text{
    color: #24c36c !important;
}

.cookie-container{
    top: 45%;
    position:absolute;
    border-radius: 15px;
    display:none;
    z-index:5;
    max-width: 1170px;
    height: 148px;
    background-color: #ffffff;
    margin: 0 auto;
}

.cookie-header{
    padding-top:28px;
    width: 184px;
    height: 13px;
    color: #84bc22;
    font-family: "Lato - Extra Bold";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;
}

.cookie-page{
    color:#84bc22;
}

.cookie-page:hover{
    color:#84bc22;
}

.cookie-text{
    white-space: nowrap;
    width: 828px;
    height: 60px;
    color: #45413e;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.cookie-accept{
    border: 2px solid #e8e2d6;
    width: 148px;
    height: 37px;
    background-color: #84bc22;
    border-radius: 30px;
    color:white;
    justify-content: center;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    left: 84%;
    top: -29px;
    
}

.cookie-close{
    position: relative;
    left: 84%;
    top: -96px;
}

.fadefade {
    display: none;
    position: absolute;
    background-color: #000;
    opacity: 0.8;
    z-index: 5;
}

