*{
    padding:0;
    margin:0;
}

body {
    font-family: "Lato" !important;
}

.set{
    width: 1280px;
    margin: 0px auto;
}

.w-10 {
    width: 10%;
}

.p-75{
    padding-left: 75px;
}

.fixed-left {
    position: fixed;
    float: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.pr-6 {
    padding-right: 3.5rem !important;
}

.hr-marg{
    margin-top:80px;
}

.modal-content{
    position:absolute;
    height: 467px;
    background-color: #ffffff;
    margin-top:42%;
}

.modal-title{
    color: #45413e;
    font-family: "Lato - Extra Bold";
    font-size: 30px;
    font-weight: 400; 
    margin-top: 50px;
    margin-bottom: 30px;
}

.modal-body{
    flex:0;
}

.green-text{
    color: #24c36c !important;
}

.cookie-container{
    top: 45%;
    left: 19%;
    position:absolute;
    border-radius: 15px;
    display:none;
    z-index:5;
    width: 1170px;
    height: 148px;
    background-color: #ffffff;
    margin: 0 auto;
}

.cookie-header{
    padding-top:28px;
    width: 184px;
    height: 13px;
    color: #84bc22;
    font-family: "Lato - Extra Bold";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;
}

.cookie-page{
    color:#84bc22;
}

.cookie-page:hover{
    color:#84bc22;
}

.cookie-text{
    white-space: nowrap;
    width: 828px;
    height: 60px;
    color: #45413e;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.cookie-accept{
    border: 2px solid #e8e2d6;
    width: 148px;
    height: 37px;
    background-color: #84bc22;
    border-radius: 30px;
    color:white;
    justify-content: center;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    left: 84%;
    top: -29px;
    
}

.cookie-close{
    position: relative;
    left: 84%;
    top: -96px;
}


