.error-container {
    width: 1280px;
    margin: 0 auto;
    background-color: #f1edea;
}


.bread-class{
    margin-top:200px;
}

.image-container{
   width: 1170px;
   
   background-color: #ffffff;
   margin:0 auto;
}


