@media (min-width: 320px) and (max-width:1279px) {
    .osf-banner>img{
        width: 100%;
        height: 185px;
    }
    .navbar-nav.row.w-100 {
        height: fit-content;
    }
    .navbar-nav.row.w-100 div.nav-item {
        height: fit-content;
    }
    .navbar-nav>div.col-4 {
        display: none;
    }

    .no-media{
        display:none;
    }

    .w-92{
        width: 92%;
    }

    .mr-20px{
        margin-right:20px;
    }


    .center-logo{
        margin: 0 auto;
        padding-left:0;
        margin-left:0;
    }

    .p-0px{
        padding:0 !important;
    }

    .empty-media{
        display:inline;
    }

    .mini-media-image{
        width: 100%; 
        height: 472px; 
    }

    .icon-media{
        padding-top: 6px;
        float:right;
    }

    .icon-media-spec{
        display:none;
        padding-top: 6px;
        float: right;
        margin-right: !important -1px;
        
    }

    .item-padding{
        margin-right:10px;
    }

    .icon-media-cat{
        padding-top: 6px;
        float:right;
    }

    .v-neck{
        text-align:center;
        color: #45413e;
        font-family: "Lato";
        font-size: 31px;
        font-weight: 500;
        margin-bottom:60px;
    }

    .icon-media-ab-spec{
        display:none;
        padding-top: 6px;
        float: right;
        margin-right: !important -1px;
    }


    .pr-0px{
        padding-right: 0px;
    }

    .card-stats{
        margin:0 auto;
    }

    .icon-media-ab{
        padding-top: 6px;
        float:right;
    }

    .ml-12px{
        margin-left:12px;
    }

    .ml-9px{
        margin-left:9px;
    }
    
    .counter{
        margin-bottom:30px;
    }
    .icon-media-spec-cat{
        display:none;
        padding-top: 6px;
        float: right;
        margin-right: !important -1px;
    }

    .media-car-enabled{
        display:block;
    }

    .banner-head-mini{
        width: 249px;
        height: 24px;
        color: #ffffff;
        font-family: "Lato - Extra Bold";
        font-size: 30px;
        font-weight: 900;
        white-space: nowrap;
        top: 20%;
    }

    .slide-text-mini{      
        display: block;
        text-align: left;
        min-width: 260px;
        color: #ffffff;
        font-family: "MYRIADPRO-REGULAR";
        font-size: 28px;
        font-weight: 700;
        margin-left: 8px;
        margin-right: 5px;
        margin-bottom:35px;
    }

    .slide-button-media{
        z-index: 2;
        font-size: 14px;
        font-weight: 400;
        width: 147px;
        height: 36px;
        border: 2px solid #ffffff8f;
        border-radius: 20px;
        background: none;
        color: #fff;
        opacity: 0.7;
        text-transform:uppercase;
        margin-top: 12%;

    } 

    .slide-button-media>a{
        color:white

    }

    .slide-text2-mini{
        top:50px;
        display: block;
        text-align: left;
        color: #ffffff;
        font-family: "MyriadPRO-REGULAR";
        font-size: 14px;
        font-weight: 400;
        margin-left: 8px;
        margin-right: 5px;
    }

    .carousel-left-span {
         left: 0px;
         top: 32px;
    }

    .m-auto{
        margin: 0 auto;
    }


    .nav-bot-media{
        background-color:#262a32;
        margin-left:0px;
        margin-right:0px;
        width:100%;
    }

    .search-media{
        left:16%;
    }

    .login-media{
        left: 7%;
    }

    .heart-media{
        right:2%;
    }

    .bag-media{
        right:5%;
    }

    .special-footer-pad{
        padding-left: 13px !important;
    }

    .heart-normal > div {
        top:0;
    }

    .bag-normal > div {
        top:0;
    }

    .mini-center{
        text-align:center;
        float:left;
    }

    .mini-recycle{
        position: relative;
        margin-top: 45%;
        left: 24%;
    }

    #navbarSupportedContent{
        margin-top: 10px;
    }

    .header-mini-method{
        position: relative;
        margin-top: 39%;
    }

    .mini-verification{
        position: relative;
        margin-top: 27%;
        left: 35%;
    }
    

    .mini-delivery{
        position: relative;
        margin-top:  21%;
        left: 20%;
    }

    .services-text-mini{
        position: relative;
        margin-top: 13%;
        margin-right: 3%;
    }

    .service-text-mini-knowledge{
        position: relative;
        margin-top: 10%;
    }

    .services-text-mini-method{
        position: relative;
        margin-top: 19%;
    }

    .mini-s{
        font-size: 31px !important;
        font-weight: 400;
        color: #45413e;
        font-family: "Lato";
        text-align: center;
        padding-bottom: 49px;
    }

    .media-head{
        color: #333333;
        font-family: Lato;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .mega-item-product{
        display:none;
        color:#fff;
    }

    .mega-item-sale{
        display:none;
        color:#fff;

    }

    .mega-item-media2{
        display:none;
        color:#fff;

    }

    .mega-item-media3{
        display:none;
        color:#fff;
    }

    .med-white>a{
        color: #fff;
    }
    
    .mini-head{
        position: relative;
        margin-bottom:24px !important;
    }

    .pb-0-media{
        padding-bottom: 0 !important;
    }

    .space-med{
        padding-bottom:23px;
    }

    .pt-0-media{
        padding-top: 0 !important;
    }

    .media-nav-p{
        height:48px !important;
    }

    .nav-link{
        height:69px;
    }


    a{
        text-decoration: none;
        color:black;
    }

    .footer-media{
        color: #45413e;
        font-family: Lato;
        font-size: 13px;
        font-weight: 500;
        line-height: 18px;
    }
    .miniItems{
        display:none;
    }

    .hr-marg-media{
        margin-top: 65px;
    }
    
    .miniItems-categoriest{
        display:none;
    }

    .miniItems-about{
        display:none;
    }

    .header-mini-knowledge{
        position: relative;
        margin-top: 25%;
    }

    .pb-72px{
        padding-bottom:72px;
    }


    .media-w90{
        width:90%;
        margin: 0 auto !important;
    }

    .media-bot{
        bottom:-50px !important;
    }

    .scroll-to-top{
        width: 153px;
        height: 38px;
        border: 2px solid #e8e2d6;
        background-color: #85c441;
        border-radius: 30px;
        color:white;
        justify-content: center;
        margin: 0 auto;
    }

    .scroll{
        text-align:center;
        padding-bottom:65px;
    }

    .scroll-text{
        color: #ffffff;
        font-family: Lato;
        font-size: 14px;
        font-weight: 200;
        text-transform: uppercase;  
    }

    .carousel-indicators {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 15;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        padding-left: 0;
        margin-right: 15%;
        margin-left: 15%;
        list-style: none;
    }

    .w-media{
        width:100% !important; 
    }


    .header-mini{
        position: relative;
        margin-top: 21%;
       
    }

    .popular-media{
        background-color: #262a32;
        width:100%;
    }


    .services-text-mini{
        
        color: #868380;
        font-family: Lato;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        padding:0;
    }
    
    .services-text-mini-knowledge{
        position: relative;
        margin-top: 20%;
    }

    .banner-text-mini{
        width: 276px;
        height: 31px;
        color: #fff;
        font-family: "Myriad Pro";
        font-size: 14px;
        font-weight: 400;
        margin-top:10px;
    }
    

    .media-caro{
        height: 472px;
        margin:0 auto !important;
        border-radius: 3px;
    }

    .media-space{
        margin-bottom:20px;
    }

    .logo2{
        width: 46px;
        height: 46px;
        bottom: -4px;
        position: relative;
    }


    .m-0px{
        margin:0 !important;
    }

    .error-mini-media{
       text-align: center;
       margin-bottom: 25px;
    }
    
    .error-mini{
        color: #85c441;
        margin-bottom: 25px;
    }

    .error-mini-media span a{
        color: #85c441;
    }

    .arrow-hide{
        display:none;
        width: 15px;
        height: 15px;
    }

    div#navbarSupportedContent {
        background-color: #262a32;
    }

    .navbar-light .navbar-toggler {
        color: rgba(0, 0, 0, 0.5);
        border-color: rgba(0, 0, 0, 0.1);
        margin-left: 3%;
        margin-top: 0%;
    }

    .dropdown-toggle::after {
        display: inline-block;
        margin-left: 63% !important;
    }

    .cookie-text{
        width:320px;
    }


    .navbar-light .navbar-nav .nav-link {
        color: #fff;
        text-align: left;
    }

    .disable-on-phone{
        display:none;
    }

    .show-on-mobile{
        display:block;
    }


    .mb-34px{
        margin-bottom: 34px;
    }

    .fixed-center-mobile{
        width: 100%;
        text-align: center;
    }
    .osf-cards{
        width:100%;
    }
}

@media (max-width: 767px) {
    .navbar-nav-copy {
        display: block;
    }

    .no-media{
        display:none;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .no-media{
        display:none;
    }
    
}

@media(min-width:1280px){

    .no-big-screen{
        display:none;
    }
}