@media (min-width: 320px) and (max-width:767px) {
    .osf-banner>img{
        width: 100%;
        height: 185px;
    }
    .navbar-nav.row.w-100 {
        height: fit-content;
    }
    .navbar-nav.row.w-100 div.nav-item {
        height: fit-content;
    }
    .navbar-nav>div.col-4 {
        display: none;
    }

    .no-media{
        display:none;
    }

    .center-logo{
        margin: 0 auto;
        padding-left:0;
        margin-left:0;
    }

    .p-0px{
        padding:0 !important;
    }

    .mini-media-image{
        width: 100%; 
        height: 472px; 
    }

    .icon-media{
        padding-top: 6px;
        float:right;
    }

    .icon-media-spec{
        display:none;
    }

    .icon-media-cat{
        padding-top: 6px;
        float: right;
        margin-right: 5px;
    }

    .icon-media-ab-spec{
        display:none;
    }

    .icon-media-ab{
        padding-top:6px;
        float:right;
        margin-right: -2px;
    }

    .icon-media-spec{
        padding-top: 6px;
        float:right;
        padding-right:5px;
    }

    .media-car-enabled{
        display:block;
    }

    .banner-head-mini{
        width: 249px;
        height: 24px;
        color: #ffffff;
        font-family: "Lato - Extra Bold";
        font-size: 30px;
        font-weight: 400;
        top: 20%;
    }

    .slide-text-mini{      
        display: block;
        text-align: left;
    }

    .carousel-left-span {
         left: 0px;
    }

    .m-auto{
        margin: 0 auto;
    }

    .media-line{
        border-bottom: 1px solid #fff;
        padding-top:15px;
        height: 0px;
        margin-bottom: 0px;
    }

    .special-footer-pad{
        padding-left: 13px !important;
    }

    .mini-center{
        text-align:center;
        float:left;
    }

    .mini-recycle{
        position: relative;
        margin-top: 45%;
        left: 24%;
    }

    #navbarSupportedContent{
        margin-top: 10px;
    }

    .header-mini-method{
        position: relative;
        margin-top: 39%;
    }

    .mini-verification{
        position: relative;
        margin-top: 27%;
        left: 35%;
    }
    

    .mini-delivery{
        position: relative;
        margin-top:  21%;
        left: 20%;
    }

    .services-text-mini{
        position: relative;
        margin-top: 13%;

    }

    .service-text-mini-knowledge{
        position: relative;
        margin-top: 10%;
    }

    .services-text-mini-method{
        position: relative;
        margin-top: 19%;
    }
    
    .mini-head{
        position: relative;
        margin-bottom:24px !important;
    }

    .pb-0-media{
        padding-bottom: 0 !important;
    }

    .space-med{
        padding-bottom:23px;
    }

    .pt-0-media{
        padding-top: 0 !important;
    }

    .media-nav-p{
        height:48px !important;
    }

    .nav-link{
        height:69px;
    }


    a{
        text-decoration: none;
        color:black;
    }

    .footer-media{
        color: #45413e;
        font-family: Lato;
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
    }
    .miniItems{
        display:none;
    }

    .hr-marg-media{
        margin-top: 65px;
    }
    
    .miniItems-categoriest{
        display:none;
    }

    .miniItems-about{
        display:none;
    }

    .header-mini-knowledge{
        position: relative;
        margin-top: 25%;
    }

    .pb-72px{
        padding-bottom:72px;
    }

    .pop-media{
        color: #ffffff;
        font-family: "Lato - Extra Bold";
        font-size: 18px;
        font-weight: 400;
    }

    .media-w90{
        width:90%;
        margin: 0 auto !important;
    }

    .media-bot{
        bottom:-50px !important;
    }

    .carousel-indicators {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 15;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        padding-left: 0;
        margin-right: 15%;
        margin-left: 15%;
        list-style: none;
    }

    .w-media{
        width:100% !important; 
    }


    .header-mini{
        position: relative;
        margin-top: 21%;
       
    }

    .popular-media{
        background-color: #262a32;
        width:100%;
    }


    .services-text-mini{
        
        color: #868380;
        font-family: Lato;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        padding:0;
    }
    
    .services-text-mini-knowledge{
        position: relative;
        margin-top: 20%;
    }

    .banner-text-mini{
        width: 276px;
        height: 31px;
        color: #fff;
        font-family: "Myriad Pro";
        font-size: 14px;
        font-weight: 400;
        margin-top:10px;
    }
    

    .media-caro{
        height: 472px;
        margin:0 auto !important;
    }

    .media-space{
        margin-bottom:20px;
    }

    .logo2{
        width: 46px;
        height: 46px;
        bottom: -4px;
        position: relative;
    }


    .m-0px{
        margin:0 !important;
    }

    div#navbarSupportedContent {
        background-color: #262a32;
    }

    .navbar-light .navbar-toggler {
        color: rgba(0, 0, 0, 0.5);
        border-color: rgba(0, 0, 0, 0.1);
        margin-left: 3%;
        margin-top: 0%;
    }

    .dropdown-toggle::after {
        display: inline-block;
        margin-left: 63% !important;
    }

    .cookie-text{
        width:320px;
    }

    .navbar-light .navbar-nav .nav-link {
        color: #fff;
        text-align: left;
    }

    .disable-on-phone{
        display:none;
    }

    .show-on-mobile{
        display:block;
    }


    .mb-34px{
        margin-bottom: 34px;
    }

    .fixed-center-mobile{
        width: 100%;
        text-align: center;
    }
    .osf-cards{
        width:100%;
    }
}

@media (max-width: 767px) {
    .navbar-nav-copy {
        display: block;
    }

    .no-media{
        display:none;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .no-media{
        display:none;
    }
    
}

@media(min-width:1280px){

    .no-big-screen{
        display:none;
    }
}