*{
    margin:0;
    padding:0;
}


.error-container{
    width:1280px;
    height:1146px;
    background-color: #f1edea;
    margin: 0 auto;
}

.error-background{
    position:relative;
    
}
  
   
