.pdp-container{
    max-width: 1280px;
	margin: 0 auto; 
    background-color: #f2edea;
}

.osf-cards{
    max-width: 1280px;
    min-height:480px !important;
    background-color:#f2edea !important;
}

.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; 
    list-style: none;
    background-color: #f1edea; 
    border-radius: 0.25rem;
    justify-content: center;
    color: #45413e;
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
}

.tab-header{
    color: #bdc3c7;
    font-family: "Lato";
    font-size: 24px;
    font-weight: 900;
}

.tab-text{
    color: #ffffff;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}

.ellipse-right{
    margin-right:5px;
}

.arrow-spec{
    width: 15px;
    height: 15px;
}

.counter{
    width: 106px;
    height: 36px;
    border: 2px solid #e8e2d6;
    background: none;
    border-radius: 20px;
}

.read-more{
    width: 74px;
    height: 11px;
    color: #84bc22;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.more{
    display:none;
}

.gray-right{
    margin-right:22px;
}

.pdp-price{
    width: 176px;
    height: 45px;
    color: #45413e;
    font-family: Lato;
    font-size: 48px;
    font-weight: 900;
    margin-bottom:42px;
    margin-top:46px;
}

.pop-item{
    color: #45413e !important;
    text-transform: uppercase;
    margin:0 auto;
}

.dark-gray>button{
    width: 152px;
    height: 36px;
    border: 2px solid #e8e2d6;
    background: transparent;
    border-radius:18px;
    margin-bottom:33px;
}

.add-to-cart, .printPage{
    width: 153px;
    height: 36px;
    border: 2px solid #e8e2d6;
    background-color: #85c441;
    border-radius: 30px;
    color:white;
    justify-content: center;
    margin: 0 auto;
}

.share{
    margin-top:36px;
    margin-bottom:26px;
}

.popular-accurate{
    text-align:center;
    text-transform: uppercase;
    font-family: lato;
    font-weight: 900;
    font-size: 18px;
    padding-bottom:23px;
    padding-top: 48px;
}

#share-text{
    padding-right:35px;
}

.share>a{
    margin-right:21px;
}

.mini-pdp-image{
    width: 73px;
    height: 70px;
    margin-top:25px;
    margin-left:33px;
    border: 1px solid gray;
}



.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: #bdc3c7;
    content: "/";
    margin-left:10px;
    margin-right:10px;
}

.breadcrumb-return{
    color: #85c441 !important;
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
}

a {
    color: #85c441;
    text-decoration: none;
    background-color: transparent;
}

.description-text{
    padding-top:51px;
    padding-right: 24px;
}

a:hover{
    color: #85c441;
}



.pdp-title{
    height: 46px;
    color: #45413e;
    font-family: "Lato";
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 54px;
}

.pdpPlus{
    margin-left:20px;

}

.pdpMinus{
    margin-right: 20px;
}

.tab-container{
    width:100%;
    height: 50px;
}

.tab-container .button-container {
    height:15%;
}

.tab-container .button-container button{
    width: 25%;
    float:left;
    border:none;
    outline:none;
    cursor:pointer;
    padding:10px;
    font-family: lato;
    font-size: 24px;
    background-color: #2e2e2e;
}

.tab-container .tab-panel{
    height: 85%;
    background-color: #2e2e2e;
    color: white;
    text-align:left;
    padding-top:100px;
    box-sizing: border-box;
    font-family:lato;
    font-size:20px;
    display:none;
}

.main-body{
    margin: 0 auto;
    max-width: 1170px;
    height: auto;
    background-color:#fff;
    border-radius: 8px;
}

.model-image-main{
    width: 578px;
    max-height: 526px;  
    margin-top:14px;
    margin-left:16px;
}

div#list-tab {
    position: relative;
    display: -webkit-inline-box;
    width: 80%;
    margin: 15px 10%;
    z-index: 0;
}

#list-tab {
    margin-bottom: 0 !important;
}

.tab-content {
    width: 100%;
    background-color: #262a33;
    color: #fff;
    margin-top: 0 !important;
}

.list-group-item {
    border: none;
}

.list-group-item.active {
    border: none;
    background-color: #262a33;
    color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

div#list-tab>a {
    position: relative;
    width: 33%;
    margin: 0 !important;
    padding: 20px 0 !important;
    text-align: center;
}

.expand-image {
    position: absolute;
    top: 17px;
    left: 40px;
}